@model BookProviders.App.ViewModels.CatererViewModel

@{
    ViewData["Title"] = "New Caterer";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <vc:summary></vc:summary>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatererType" class="control-label"></label> <br />
                <input type="radio" value="1" asp-for="CatererType" checked /> Person
                <input type="radio" value="2" asp-for="CatererType" /> Company
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>

            <h4>Address</h4>
            <hr />

            <partial name="_Address" />

            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-times"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        cepSearch();
    </script>
}
