/* QR code generator */
#qrCode {
    margin: 15px;
}

footer {
    position: absolute; 
    bottom: 0;
}

input, 
select, 
file,
textarea {
    max-width: 400px;
}

.img {
    width: 70px;
    height: 80px;
}