@model BookProviders.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <vc:summary></vc:summary>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="CatererId" class="control-label"></label>
                <select asp-for="CatererId" class="form-control"
                        asp-items="@(new SelectList(Model.Caterers, "Id", "Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="CatererId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" cols="40" rows="5"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImageUpload" asp-for="ImageUpload" />
                    <label data-browse="Search" class="custom-file-label" for="ImageUpload" style="width:400px"></label>
                    <label id="img-name"></label>
                </div>
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-times"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#ImageUpload').change(function () {
            $('#img-name').text(this.files[0].name)
        })

        $("#ImageUpload").attr("data-val", "true")
        $("#ImageUpload").attr("data-val-required", "Required")
    </script>
}
