@model IEnumerable<BookProviders.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> New Product</a>
</p>

<div class="row">
    <div class="col-md-12">
        <vc:summary></vc:summary>
    </div>
</div>

<partial name="_ListProducts" />
