@model IEnumerable<BookProviders.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> New Product</a>
</p>

<partial name="_ListProducts" />
